<robot name="mylink"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="worldlink">
        <link name="world">
            <inertial>
                <mass value="1"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0.5" rpy="0 0 0"/>
                <geometry>
                    <box size="0.1 0.1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 -0.5" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.4 0.4 1"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>
    <!-- instead of writing same code for different links, we can reuse the code like above -->

    <xacro:macro name="toollink">
        <link name="tool">
            <visual>
                <origin xyz="0 0 -0.5" rpy="0 0 0"/>
                <geometry>
                    <box size="0.1 0.1 1"/>
                </geometry>
            </visual>
        </link>
    </xacro:macro>
</robot>