<robot name="simple" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find edumip_description)/urdf/edumip.xacro"/>
  <xacro:include filename="$(find edumip_description)/urdf/hc_sr04.xacro"/>
  <xacro:include filename="$(find edumip_description)/urdf/gazebo.xacro"/>

  <xacro:arg name="sensor_name" default="sonar"/>
  <xacro:arg name="parent" default="base_link"/>


  <xacro:edumip/>
  <xacro:hc_sr04 name="$(arg sensor_name)" parent="$(arg parent)">
    <origin xyz="0.01 0 0.105" rpy="0 0 0"/>
  </xacro:hc_sr04>
  <xacro:edumip_balance/>
  <xacro:tot/>

</robot>