<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="edumip_balance">
		<gazebo>			
			<plugin name="edumip_balance" filename="libedumip_balance_ros_gazebo_plugin.so">
                <_parent>base_link</_parent>
                <leftJoint>left_joint</leftJoint>
                <rightJoint>right_joint</rightJoint>
                <wheelSeparation>0.070</wheelSeparation>
                <wheelDiameter>0.068</wheelDiameter>
                <commandTopic>cmd_vel</commandTopic>
            </plugin>
		</gazebo>
	</xacro:macro>

    <xacro:macro name="tot">
		<gazebo>
			<plugin name="tot" filename="libtot_plugin.so">
                <towerA>towerA</towerA>
                <towerB>towerB</towerB>
            </plugin>
		</gazebo>
	</xacro:macro>
</robot>

